

.header-tel-item-1-text {
	font-size: 22px;
	font-color:#000;
	font-weight: bold;
	margin-top: auto;
	margin-bottom: auto;
}

.header-tel img {
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

.header-tel-item-1-text a {
	text-decoration: none;
	color:#000;
}



.header-tel {
	margin-top: 20px;
	position: relative;
    z-index: 10;
}

.header-tel-item-2 {
	margin-top: auto;
	margin-top: 10px;
}

header {
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #ccc;
}

#main-section {
	padding-top: 20px;
	padding-bottom: 10px;
	background: url(images/bg.png);
}
.main-caption {
	text-align: center;
}

.main-boxes {
	flex-flow: row wrap;
	justify-content: center;
}

.main-boxes-item {
	margin-top: 20px;
}

.main-boxes-item-text {
	background: #fff;
	height: 245px;
}

.main-caption h1 {
	font-size: 46px;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
}


.main-boxes-item-text {
	border:1px solid #ccc;
	text-align: center;
	box-shadow: 0px 0px 10px #ccc;
	cursor: pointer;
	transition-duration: .25s;
	padding-top: 40px;
	padding-bottom: 40px;

}

.main-boxes-item-text:hover {
	transition-duration: .25s;
	box-shadow: 0px 0px 50px #ccc;
	background: #f7fff9;
}

.main-boxes-item-text img {
	width: 80px;
	height: 80px;
}

.main-boxes-text-caption {
	font-size: 26px;
	margin: 0;
	font-family: 'PT Mono', monospace;
}

.main-boxes-text-text {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	font-family: 'PT Mono', monospace;
	color:red;
}


.footer-text {
	font-size: 20px;
	margin: 0;
	font-family: 'PT Mono', monospace;
	text-align: center;
}
footer {
	padding-top: 50px;
	padding-bottom: 30px;
	background: url(images/bg.png);
	height: 30vh;
}

@media screen and (min-width: 991px) {
	html {
	overflow-y: hidden;
	}
}

@media screen and (max-width: 1200px) {
	.header-top-p {
	margin-top: 0px !important;
}
}

@media screen and (max-width: 768px) {
	.main-boxes-text-caption {
	font-size: 24px;
	margin: 0;
	font-family: 'PT Mono', monospace;
}

.main-boxes-text-text {
	font-size: 20px;
	margin: 0;
	font-family: 'PT Mono', monospace;
}
}

@media screen and (max-width: 443px) {
	.header-top {
		display: flex;
		justify-content: center;
	}

	.header-tel {
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding-bottom: 20px;
	}
}


@media screen and (max-width: 1200px) and (min-width: 988px) {
	footer {
	padding-top: 0px;
}
}

#modal {
	width: 300px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
  display: none;
}

#modal1 {
	width: 300px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
  display: none;
}

#modal2 {
	width: 300px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
  display: none;
}

#modal3 {
	width: 300px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
  display: none;
}

#modal4 {
	width: 300px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
  display: none;
}

#modal5 {
	width: 300px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
  display: none;
}

.modal-div {
	padding-top: 20px;
	padding-bottom: 10px;
	border: 1px solid #6d6d6d;
	box-shadow: 0px 0px 15px 3px #000;
	background: #fff;
	border-radius:7px;
}
.modal-content-form-ul {
	list-style-type: none;
	text-align: center;
}
.modal-content-text {
	text-align: center;
	margin-bottom: 20px;
}
.modal-content-text {
	font-family: 'Rubik', sans-serif;
	font-size: 26px;
	font-weight: bold;
}

.modal-content-form-ul-li {
	margin-top: 20px;
}

.modal-input {
	border:none;
	border-bottom: 2px solid #6d6d6d;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	outline: none;
}

.modal-input:focus {
	border-bottom: 2px solid #71C48A;
}

.modal-content-form-ul-submit {
	margin-top: 30px;
}
.modal-submit {
	margin-top: 30px;
	border-radius: 5px;
	outline: none;
	border:none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #ea2525;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
	transition-duration:0.35s;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

.modal-submit:hover {
	transition-duration:0.35s;
	background: #71C48A;
}
.fa-times {
	color:red;
	font-size: 26px;
	float: right;
	margin-right: 10px;
	margin-top: -10px;
}
.modal-overlay {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  display:none;
}
.close-button {
	cursor: pointer;
}


.open-button:hover {
	background:#661ebf;
	transition-duration:0.75s;
	color:#fff;
} 

.overlay {
	display:none;
}

.modal-content-text-p {
	margin-top: 10px;
	font-size: 20px;
	font-family: Open Sans , sans-serif;
	color:#71C48A;
	border-bottom:2px solid green;
	border-top:2px solid green;
}
.absolute {
	z-index: 999999;
}



.header-top-p {
	width: 100%;
	text-align: center;
	margin-top: -100px;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	
}

.main-boxes-item a {
	color:#000;
}
.main-boxes-item a:hover {
	color:#000;
	text-decoration: none;
}