
/*Fonts*/

/*Common*/
object{
    pointer-events: none;
}

section {
	background: url(images/bg.png);
	background-attachment: fixed;
}

.background {
	background: #fff;
}


/*Header*/
.top-contacts-ul {
	list-style-type: none;
	margin: auto;
}

.top-contacts-ul-li {
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

.top-contacts-ul-li:nth-child(2) {
	font-weight: bold;
	font-size: 21px;
}

.top-contacts-ul-li-a {
	text-decoration: none;
	color:black;
	padding: 0;
	margin: 0;
	transition-duration:.5s;
}

.top-contacts-ul-li-a:hover {
	outline: none;
	text-decoration: none;
	color:#d62424;
	transition-duration:.5s;
}

.iphone_icon {
	width: 20px;
	margin-right: 5px;
}

nav {
	background: #1e1e1e;
}

.menu {
	padding: 0 !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	justify-content: center;
	display: flex;
}

.menu-ul {
	list-style-type: none;
	margin: 0;
	justify-content: space-between;
}

.menu-ul-li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}

.Vk {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}
.vk-img {
	margin-right: 10px;
	padding-top: 2px;
	cursor: pointer;
}

.contact-buttons {
	display: flex;
}

.contact-buttons-mobile {
	display: none;
}

.menu-ul-li:nth-child(2) {
	border-right:1px solid #6d6d6d;
}

.menu-ul-li-a {
	text-decoration: none;
	color:#fff;
	transition-duration:.25s;
}

.menu-ul-li-a:hover {
	color:#d62424;
	text-decoration: none;
	transition-duration:.25s;
}

.menu-button {
	width: 22px;
	height: 22px;
	transition-duration:0.75s;
}

.menu-button-hover:hover > .menu-button {
	transform: rotateZ(360deg);
	transition-duration:0.75s;
}

.details {
	padding-top: 0px !important;
	padding-left: 0px !important;
}

#details {
	display: none;
}

.details-menu {
	list-style-type: none;
	justify-content: space-between;
	display:flex;
	padding: 0 !important;
}

.details-menu-li {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.details-menu-li {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.details-menu-li-a {
	color:#fff;
}

.details-menu-li-a:hover {
	color:#d62424;
	text-decoration: none;
	transition-duration:.25s;
}

.details-menu-li-a:focus {
	color:#d62424 !important;
	transition-duration:.25s;
}
.active {
	color:#d62424 !important;
	font-size: 20px;
}
.details-background {
	background: #1e1e1e;
}

.det {
	
	padding-right: 0 !important;
}

.details-background {
	width: inherit;
	padding: 0;
}
.container {
	padding-left:40px !important;
	padding-right:40px !important;
}

.iphone {
	display: none;
	border-top: 1px solid #fff;
}

.iphone-menu {
	list-style-type: none;
	padding-top: 10px;
	margin-top: 10px;
}

.iphone-menu-li {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	display: inline;
	margin-right: 15px;
	white-space: pre;
}

.iphone-menu-li-a {
	text-decoration: none;
	color:#fff;
}

.iphone-menu-li-a:hover {
	color:#d62424;
	text-decoration: none;
	transition-duration:.25s;
}

.iphone-background {
	background: #1e1e1e;

}

.iphone-open {
	z-index: 9999;
	background: black;
	transition-duration: 1s;
}

.absolute {
	position:  !important;
	width: 100%;
	background: #1e1e1e;
	color:#fff;
}

.ipad {
	display: none;
	border-top: 1px solid #fff;
}


.ipad-menu {
	list-style-type: none;
	padding-top: 10px;
		margin-top: 10px;
}

.ipad-menu-li {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	display: inline;
	margin-right: 15px;
	white-space: pre;
}

.ipad-menu-li-a {
	text-decoration: none;
	color:#fff;
}

.ipad-menu-li-a:hover {
	color:#d62424;
	text-decoration: none;
	transition-duration:.25s;
}

.ipad-background {
	background: #fff;
}

.ipad-open {
	z-index: 9999;
	background: #fff;
	transition-duration: 1s;
	display: inline;
}

.mac {
	display: none;
	border-top: 1px solid #fff;
}


.mac-menu {
	list-style-type: none;
	padding-top: 10px;
		margin-top: 10px;
}

.mac-menu-li {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	display: inline;
	margin-right: 15px;
	white-space: pre;
}

.mac-menu-li-a {
	text-decoration: none;
	color:#fff;
}

.mac-menu-li-a:hover {
	color:#d62424;
	text-decoration: none;
	transition-duration:.25s;
}

.mac-background {
	background: #fff;
}

.mac-row {
	
}

.mac-open {
	z-index: 9999;
	background: #fff;
	transition-duration: 1s;
	display: inline;
}

.watch {
	display: none;
	border-top: 1px solid #fff;
}


.watch-menu {
	list-style-type: none;
	padding-top: 10px;
		margin-top: 10px;
}

.watch-menu-li {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	display: inline;
	margin-right: 15px;
	white-space: pre;
}

.watch-menu-li-a {
	text-decoration: none;
	color:#fff;
}

.watch-menu-li-a:hover {
	color:#d62424;
	text-decoration: none;
	transition-duration:.25s;
}

.watch-background {
	background: #fff;
}

.watch-open {
	z-index: 9999;
	background: #fff;
	transition-duration: 1s;
	display: inline;
}

/* Modal window */
#modal {
	width: 300px;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999;
  display: none
}

.modal-div {
	padding-top: 20px;
	padding-bottom: 10px;
	border: 1px solid #6d6d6d;
	border-radius: 10px;
	background: #fff;
}
.modal-content-form-ul {
	list-style-type: none;
	text-align: center;
}
.modal-content-text {
	text-align: center;
	margin-bottom: 20px;
}
.modal-content-text {
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

.modal-content-form-ul-li {
	margin-top: 20px;
}

.modal-input {
	border:none;
	border-bottom: 2px solid #6d6d6d;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	outline: none;
}

.modal-content-form-ul-submit {
	margin-top: 30px;
}
.modal-submit {
	margin-top: 30px;
	border-radius: 30px;
	outline: none;
	border:none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #d62424;
	color:#fff;
	font-size: 18px;
	cursor: pointer;
	transition-duration:0.75s;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

.modal-submit:hover {
	background:#331542;
	transition-duration:0.75s;
}
.fa-times {
	color:red;
	font-size: 26px;
	float: right;
	margin-right: 10px;
	margin-top: -10px;
}
.modal-overlay {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  display:none;
}
.close-button {
	cursor: pointer;
}
.open-button {
	border:none;
	background: #ff2b2b;
	font-size: 18px;
	cursor: pointer;
	transition-duration:0.75s;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	margin-right: 20px;
	border-radius: 3px;
	color:#fff;
	font-weight: bold;
}

.open-button:hover {
	background:#661ebf;
	transition-duration:0.75s;
	color:#fff;
} 

.overlay {
	display: none;
}

.modal-content-text-p {
	margin-top: 10px;
}
.absolute {
	z-index: 999999;
}

/* Section_1 */

.about {
	margin-top: 30px;
}

.about_caption {
	text-align: left;
	font-family: 'Rubik' , sans-serif;
	border-bottom: 2px solid #262626;
	color: black;
	font-size: 40px;
}

.about_block {
	justify-content: space-between;
}

.about_image_text_p {
	font-size: 21px;
	font-family: "Rubik" , sans-serif;
	color:#262626;
	padding-top: 20px !important;
}

.about_image_text {
	margin-top: 30px;
}

.text_yellow {
	background: #fcd26a;
}

/* Section_2 */

.repair_caption {
	text-align: left;
	font-family: 'Rubik' , sans-serif;
	border-bottom: 2px solid #262626;
	color: black;
	font-size: 40px;
}

.repair_block {
	justify-content: space-between;
	margin-top: 40px;
	flex-flow: row wrap;
	margin-bottom: 40px;
}

.repair_block_item {
	text-align: center;
	height: 170px;
	background: #fff;
	transition-duration: 0.5s;
}
.repair_block_item:hover {
	background: #f7f7f7;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition-duration: 0.5s;
}
.repair_block_item_image  {
	margin-top: 40px;
}

.repair_block_item_text  {
	margin-top: 10px;
	font-size: 26px;
	color:black;
	font-family: "Open Sans" , sans-serif;
}


.repair_block_a:hover {
	text-decoration: none;
}


/* Section 3 */

.contacts {
	margin-top: 50px;
	padding-bottom: 0px;
}

.contacts_block_contacts_caption {
	text-align: left;
	font-family: 'Rubik' , sans-serif;
	color: black;
	font-size: 40px;
	border-bottom: 2px solid #262626;
}

.contacts_text_1 {
	margin: 0;
	font-size: 18px;
	font-family: 'Rubik' , sans-serif;
}
.contacts_text_2 {
	margin:0;
	font-family: 'Rubik' , sans-serif;
	font-size: 24px;
	color:black;
}

.contacts_block_contacts_contacts {
	justify-content: space-between;
	margin-top: 60px;
	display:flex;
}

.contacts_block_display {
	display:block !important;
}

.adress_display {
	margin-top: 10px;
}

.contacts_map {
	margin-top: 60px;
	margin-bottom: 10px;
}

.contacts_tel {
	color:black;
}

.contacts_tel:hover {
	color:black;
	text-decoration: none;
}

/* Footer */

#footer {
	background: #1e1e1e;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 10px;

}

.footer_content_text {
	justify-content: center;
	color:#fff;
	margin: 0;
	margin-bottom: 10px;
}

.footer_content_icons {
	justify-content: center;
	display: flex;
	margin-top: 0px;
}

.vk {
	width: 35px;
	height: 35px;
	background: url(images/vk_1.png);
	background-size: contain;
	transition-duration: .5s;
	cursor: pointer;
	margin-right: 10px;
}
.vk:hover {
	width: 35px;
	height: 35px;
	background: url(images/vk_2.png);
	background-size: contain;
	transition-duration: .5s;
}
.inst {
	width: 35px;
	height: 35px;
	background: url(images/inst_1.png);
	background-size: contain;
	transition-duration: .5s;
	cursor: pointer;
}
.inst:hover {
	width: 35px;
	height: 35px;
	background: url(images/inst_2.png);
	background-size: contain;
	transition-duration: .5s;
}





/* advatages.html */

.advatages {
	display: flex;
}

.advatages_contacts {
	margin-top: 30px;
	padding-bottom: 0px;
}

.advatages_contacts_block_contacts_caption {
	text-align: left;
	font-family: 'Rubik' , sans-serif;
	color: black;
	font-size: 40px;
	border-bottom: 2px solid #262626;
}

.advatages_contacts_text_1 {
	margin: 0;
	font-size: 18px;
	font-family: 'Rubik' , sans-serif;
}
.advatages_contacts_text_2 {
	margin:0;
	font-family: 'Rubik' , sans-serif;
	font-size: 24px;
}

.advatages_contacts_block_contacts_contacts {
	justify-content: space-between;
	margin-top: 60px;
}

.advatages_first {
	background: ;
	padding: 40px;
	text-align: center;
}

.advatages_first_text {
	font-size: 19px;
	font-family: "Rubik" , sans-serif;
	margin: 0;
}

.advatages_first_caption {
	font-size: 24px;
	font-family: "Rubik" , sans-serif;
	font-weight: bold;
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 50px;
}

.mobile-contacts {
	margin-top: -30px;
}

/* IPHONE */

.iphones_bg {
	background: #fafafa;
}

.iphones {
	margin-top: 30px;
}

.iphones_caption {
	text-align: left;
	font-family: 'Rubik' , sans-serif;
	color: black;
	font-size: 40px;
	border-bottom: 2px solid #262626;
}

.iphones_all {
	flex-flow: row wrap;
	justify-content: space-between;
}

.iphone_example {
	text-align: center;
}

.iphone_example_text {
	font-family: 'Rubik' , sans-serif;
	font-size: 22px;
}

.iphone_example_a {
	color:black;
	transition-duration: 0.35s;
	margin-right: 0.1px;
	margin-bottom: 20px;
}

.iphone_example_a:hover {
	text-decoration: none;
	color:#d62424;
	transition-duration: 0.35s;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.text-top {
	margin-top: 20px;
}

.footer_bottom {
	margin-bottom: 70px;
}

.footer_bottom-2 {
	margin-bottom: 150px;
}

.services {

}


.services_example {
	border-bottom:1px solid #1e1e1e;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.services_example_caption {
	font-size: 22px;
	font-family: 'Rubik' , sans-serif;
	font-weight: bold;
}

.services_example_cost_caption{
	font-size: 22px;
	font-family: 'Rubik' , sans-serif;
	font-weight: bold;
}

.services_example_text {
	font-family: 'Rubik' , sans-serif;
	transition-duration: 0.25s;
}

.services_example_cost {
	font-family: 'Rubik' , sans-serif;
}


.non {
	border-bottom:0 ;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
}

.iphones_details {
	text-align: center;
}

.services_example_cost , .services_example_text {
	margin-bottom: 5px;
	font-family: 'Rubik' , sans-serif;
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.services_example:hover .services_example_text {
	color:#d62424;
	transition-duration: 0.25s;
}

.services_example_cost-2 , .services_example_text-2 {
	margin-bottom: 5px;
	font-family: 'Rubik' , sans-serif;
	color: #1e1e1e;
	font-size: 14px;
}

.services_example_cost-2 {
	white-space: pre;
	text-align: right;
}

.services_example_first {
	justify-content: space-between;
}

.services_example_secont {
	justify-content: space-between;
}

.services_red {
	margin-bottom: 5px;
	font-family: 'Rubik' , sans-serif;
	color: #d62424;
	font-size: 14px;
	font-weight: bold;
}

.iphone_details_text {
	font-family: 'Rubik' , sans-serif;
	font-size: 20px;
}

.iphone_details_text-2 {
	font-family: 'Rubik' , sans-serif;
	font-size: 18px;
}

.button_top {
	margin-top: 35px;
	margin-bottom: 35px;
}

.contacts_images {
	justify-content: space-between;
	flex-flow: row wrap;
}

.contacts_images_item_img {
	border: 2px solid #262626;
	width: 100%;
	transition-duration: .25s;
	cursor: pointer;
	margin-top: 30px;
}

.contacts_images_item_img:hover {
	width: 110%;
	transition-duration: .25s;
}

.contacts-mt {
	margin-top: 20px;
}

#map {
	pointer-events: none;
}

.iphone_navigation_list {
	flex-flow:row wrap;
	justify-content: space-between;
}

.iphone_navigation_list_item_image {
	width: 32px !important;
	height: 32px !important;
	margin-top:auto;
	margin-bottom: auto;
	margin-right: 5px;
}

.iphone_navigation_list_item_text {
	font-size: 19px;
	font-family: "Rubik" , sans-serif;
	color:black;
	margin-top:auto;
	margin-bottom: auto;
	transition-duration: .25s;
	white-space: pre;
}




.iphone_navigation_list_href-a:hover {
	text-decoration: none;
	color:#d62424;
}


.iphone_navigation_list_item:hover .iphone_navigation_list_item_text {
	text-decoration: none;
	color:#d62424;
}

.iphone_navigation_list_href {
	margin-right: 0.1px;
	margin-top: 20px;
}


.iphone_navigation_image {
	background:url(../assets/images/iphone-bg.png) top;
	background-size: cover;
}

.mt {
	margin-top: 50px;
}
.iphone_navigation {
			display: flex;
		}




@media screen and (max-width: 1200px) {
	.iphone_navigation_list_item {
		justify-content: left;
	}
	.iphone_navigation_list_href {
	margin-right: 0px;
	margin-top: 20px;
}

	.iphone_navigation_image {
		display: none;
	}
	.iphone_navigation_list {
	justify-content: center;
}
	.menu-button {
		display: none;
	}

	.menu-ul-li {
		margin-right: 10px;
	}

	.about_image_img {
		margin-top: 70px ;
	}
	
	.about_image_text_p {
		margin-top: -10px;
	}

	.repair_block_item_text {
		font-size: 20px;
	}

}
	@media (min-width:992px) and (max-width: 1201px) {
		.iphone_navigation {
			display: none;
		}
	}
@media screen and (max-width: 991px) {
	.menu {
		display: block !important;
	}

	.contact-buttons {
		display: none !important;
	}

	.contact-buttons-mobile {
		display: flex;
		margin-bottom: 10px;
		justify-content: space-around;	
	}

	.slash {
		display: none;
	}

	.about_caption {
		font-size: 30px;
	}

	.advatages_contacts_block_contacts_caption {
		font-size: 30px;
	}

	.repair_caption {
		font-size: 30px;
	}

	.contacts_block_contacts_caption {
		font-size: 30px;
	}

	.about_image_text_p {
		font-size: 19px;
		margin-top: -30px ;
	}

	.repair_block {
		justify-content: space-around;
	}

	.repair_block_a {
		margin-bottom: 20px;
	}

	.contacts {
		margin-top: -30px;
	}

	.contacts_text_1 {
		font-size: 16px;
	}

	.contacts_text_2 {
		font-size: 18px;
	}

	.contacts_block_contacts_contacts {
		margin-top: 30px;
	}
	.contacts_map {
		margin-top: 30px;
	}

	.advatages_first_caption {
		font-size: 22px;
	}

	.advatages_first_text {
		font-size: 17px;
	}
	.mobile-contacts {
	margin-top: 40px;
}
}


@media screen and (max-width: 768px) {
	
	.contacts_images {
	justify-content: center;
}

	.advatages {
		display: block !important;
	}

	.contact-buttons-mobile {
		display: flex;
		margin-bottom: 10px;
		justify-content: space-around;	
	}

	.slash {
		display: none;
	}

	.about_caption {
		font-size: 25px;
	}

	.advatages_contacts_block_contacts_caption {
		font-size: 25px;
	}

	.repair_caption {
		font-size: 25px;
	}

	.contacts_block_contacts_caption {
		font-size: 25px;
	}

	.about_image_text_p {
		font-size: 17px;
		margin-top: -30px ;
	}

	.repair_block {
		justify-content: center;
	}

	.repair_block_a {
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.contacts {
		margin-top: -30px;
	}

	.contacts_text_1 {
		font-size: 16px;
	}

	.contacts_text_2 {
		font-size: 18px;
	}

	.contacts_block_contacts_contacts {
		margin-top: 30px;
	}
	.contacts_map {
		margin-top: 30px;
	}
}


@media screen and (max-width: 576px) {
	.details {
		
	}

	.iphone_navigation_list_item {
		justify-content: right !important;
	}
	.details-menu-2 {
		text-align: left !important;
		padding-left: 40% !important;

	}
	
	.d-m-li {
		text-align: left !important;
	}


	.contact-buttons-mobile {
		display: flex;
		margin-bottom: 10px;
		justify-content: space-around;	
	}
	.container {
		padding-left:30px !important;
		padding-right: 30px !important;
	}
	.logo {
		text-align: center;
	}

	.Vk {
		display: none !important;
	}
	
	.about {
		margin-top: 5px;
	}
	
	.about_image_text {
		margin-top: 10px;
	}

	.slash {
		display: none;
	}
	
	.menu-ul-li {
		font-size: 16px;
	}

	.about_caption {
		font-size: 25px;
	}

	.repair_caption {
		font-size: 25px;
	}

	.contacts_block_contacts_caption {
		font-size: 25px;
	}
	
	.about_image_img {
		display: none;
	}

	.about_image_text_p {
		font-size: 17px;
		margin-top: -30px ;
	}

	.repair_block {
		justify-content: center;
	}

	.repair_block_a {
		margin-bottom: 10px;
	}

	.contacts {
		margin-top: 0px;
	}

	.contacts_text_1 {
		font-size: 16px;
	}

	.contacts_text_2 {
		font-size: 18px;
	}

	.contacts_block_contacts_contacts {
		margin-top: 30px;
		display: block !important;
	}

	.adress {
		margin-top: 20px;
	}

	.contacts_map {
		margin-top: 30px;
	}

	.display-mobile {
		display: none;
	}
	.details-menu {
		display: block !important;
		text-align: center;
	}

	.advatages_first_caption {
		font-size: 20px;
	}

	.advatages_first_text {
		font-size: 16px;
	}
	.advatages_first {
		margin-top: -30px;
	}
	.mobile-contacts {
	margin-top: 10px;
	}
	.iphones_all {
		justify-content: center;
	}
}
