.services__ul__item:hover {
	background: #ffb400;
	transition-duration: 0.5s;
}
a:hover {
	text-decoration: none;
}
button:hover {
	background: #ed2824;
	color:#fff;
	cursor: pointer;
	transition-duration: 0.5s;
} 
.btnbtn:hover {
	background: #b30e0b !important;
	color:#fff;
	cursor: pointer;
}
.submit:hover {
	background: #ed2824;
	color:#fff;
	cursor: pointer;
	transition-duration: 0.5s;
}
.hover:hover {
	color:black;
	border-bottom: 3px solid #ae120f;
	transition-duration: 0.5s;
}
.color_menu:hover {
	color:black;
}
.close:hover {
	background: #eaeaea;