

.swiper-pagination-bullet {
    width: 24px !important;
    height: 24px !important;
    background: #fff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #6DC055 !important;
}

