/** логотип другой и меньше! **/

.logo{
	float: left;
	width: 150px;
	min-height: 1px;
	position:relative;
	}
.logo a{
	position:absolute;
	z-index:1;
	top: -15px;
	left: 5px;
	display: block;
	width: 88px;
	height: 120px;
	padding: 30px 0 0 170px;
	background: url('/images/logo-m.png') no-repeat;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	color: #000000;
	font-size: 32px;
	line-height: 30px;
	text-decoration: none;
	}

.wrap {
	text-align: left;
	margin: 0 auto;
	width: auto;
	min-width: 320px;
	padding: 0;
	}

/** телефон - ссылка **/
.hright_tel a {
	color: #000000;
	text-decoration: none;
	}

.hright_tel a:hover {
	color: #999999;
	text-decoration: none;
	}



.hpartner{
	clear: both;
	float: none;
	width: auto;
	padding: 15px 0 0 10px;
	text-align:center;
	}

.hpartner_zag{
	text-align:center;
	padding: 0 0 15px 0;
	}
.hpartner li{
	display:-moz-inline-stack;
	display:inline-block;
	_overflow:hidden;
	*zoom:1;
	*display:inline;
	float: none;
	padding: 0 5px 0 5px;
	}
.hpartner li:first-child{
	padding: 0 5px 0 5px;
	}


.hright{
	float: none;
	width: auto;
	clear: both;
	background: #ffab00;
	padding: 0 10px 0 0;
	text-align:center;
	}
.hright ul{
	float: none;
	padding: 10px 0 0 0;
	}
.hright li{
	display:-moz-inline-stack;
	display:inline-block;
	_overflow:hidden;
	*zoom:1;
	*display:inline;
	float: none;
	padding: 0 5px 0 5px;
	}
.hright li:first-child{
	padding: 0 5px 0 5px;
	}
.hright_tel{
	text-align: center;
	}

/** опустим текст и поменяем цвет и значки и уменьшим текст**/
.baner_top{
	padding: 20px 0 30px 0;
	text-align: center;
	}

.baner_top_l{
	float: none;
	width: auto;
	padding: 0 0 160px 0;
	color: #000000;
	font-size: 28px;
	line-height: 36px;
	text-transform: uppercase;
	font-family: 'Museo Sans Cyrl 500', sans-serif;
	background: url('images/baner_top_l_m.png') no-repeat center bottom;
	}


.baner_top_r{
	float: none;
	width: auto;
	padding: 10px 0 0 0;
	color: #000000;
	font-size: 38px;
	line-height: 55px;
	font-family: 'Museo Sans Cyrl 500', sans-serif;
	}

	
.baner_top_b{
position:relative;
top: 20px;
left:0%;

	}

	
	
/** опустим текст и поменяем значки **/
.text_one{
	background: url('images/text_one_m.jpg') no-repeat center top;
	padding: 180px 10px 0 10px;
	}


.text_one_fon{
	background: url('images/text_one_fon_m.png') no-repeat 80% top;
	width: auto;
	height: auto;
	min-height: 379px;
	margin: -30px 0 22px auto;
	}
.text_one_fon_text{
	padding: 90px 70px 0 10px;
	color: #000000;
	font-size: 25px;
	line-height: 25px;
	font-family: 'Museo Sans Cyrl 300', sans-serif;
	}
.text_one_fon_text span{
	font-size: 22px;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	text-transform: uppercase;
	}

.text_one_fon_sm{
	background: url('images/text_one_fon_sm.png') no-repeat 80% top;
	width: auto;
	height: auto;
	min-height: 379px;
	margin: -30px 0 22px auto;
	}

/* немного поменяем отступы и размер шрифта в рамке */
.ramka{
	color: #000;
	font-size: 25px;
	line-height: 32px;
	}
.ramkaf{
	padding: 70px 50px 50px 60px;
	}



.baner_sub li a{
	width: auto;
	max-width: 400px;
	font-size: 24px;
	}
.baner_sub li {
    display: block;
    padding: 0 0 20px 0;
}
.text_one_r a{
	text-align: center;
	display:block;
	width: auto;
	max-width: 400px;
	font-size: 24px;
	}
.grey_bottom_sub a{
	width: auto;
	max-width: 400px;
	font-size: 24px;
	}

.infosub a{
	margin: 0 auto 150px auto;
	text-align: center;
	display:block;
	width: auto;
	height: 80px;
	color: #ffffff;
	font-size: 20px;
	line-height: 80px;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(to top, #d10000, #ffa200);
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	border-radius: 60px;
	behavior: url('images/border-radius.htc');
	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	}
.infosub a:hover{
	background: linear-gradient(to top, #ffa200, #d10000);
	}


.ramka span{
	margin: 0 0 0 0 !important;
	}

.ramka2{
	width: auto;
	margin: 0 auto 0 auto;
	background: url('images/ramka2.png') no-repeat;
	color: #000;
	font-size: 28px;
	line-height: 40px;
	text-align: left;
	}


.grey_oval{
	position:absolute;
	z-index:2;
	bottom: 120px;
	right: 0;
	width: 280px;
	height: 190px;
	padding: 130px 20px 0 20px;
	background: url('images/grey_oval.png') no-repeat;
	background-size: 320px;
	color: #000;
	font-size: 23px;
	line-height: 28px;
	}
.grey_oval span{
	display: block;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	padding: 0 0 17px 0;
	}

.grey_oval_tetx{
	display: none;
	}


.voprosu_zag{
	font-family: 'Museo Sans Cyrl 500', sans-serif;
	font-size: 40px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 45px 0;
	}

.fadres{
	width:auto;
	}


.logo {
    min-height: 100px;
    width:  auto;
	}





.fsoc ul, .fsoc{
	text-align:center;
	}
.fsoc li{
	display:-moz-inline-stack;
	display:inline-block;
	_overflow:hidden;
	*zoom:1;
	*display:inline;
	float: none;
	padding: 0 5px 0 5px;
	}
.fsoc li:first-child{
	padding: 0 5px 0 5px;
	}



.prigl{
	padding: 500px 0 50px 0;
	overflow-x:hidden;
	text-align: center;
	background: url('images/prigl.jpg') no-repeat center top;
	background-size: 900px auto;
	}
.prigl img{
	display: none;
	min-width: 700px;
	}
.prigl .grey_bottom_sub{
	position:absolute;
	z-index:2;
	bottom: 30px;
	left: 0;
	width: 100%;
	}

.grey_bottom_sub a{
	margin: 0 auto;
	height: 60px;
	font-size: 26px;
	line-height: 60px;
	}

.fadres, .f_tel, .f_mail{
	text-align: center;
	}









.modal_win{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 300px;
	padding: 0 0 80px 0;
	background: #fff url('images/header.jpg') repeat-x bottom;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
	text-align: left;
	}
.modal_mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background: #000;
	display:none;
	}



.modal_win_z_zag{
	background: url('images/modal_win_z_zag.jpg') no-repeat;
	background-size: 450px auto;
	height: 120px;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	color: #000000;
	font-size: 22px;
	line-height: 32px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0 0 50px;
	}
.modal_pole{
	max-width: 570px;
	margin: 0 10px 20px 10px;
	}
.modal_pole select{
	width: 100%;
	height: 50px;
	border: 2px solid #fbaa19;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	color: #000000;
	font-size: 20px;
	text-indent: 20px;
	}
.modal_inp{
	width: 100%;
	height: 40px;
	border: 2px solid #fbaa19;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	color: #000000;
	font-size: 18px;
	text-indent: 18px;
	padding: 0;
	margin: 0;
	}
.modal_sub{
	border: 0px solid #fbaa19;
	display: block;
	width: 280px;
	margin: 0 auto;
	padding:0;
	height: 50px;
	color: #ffffff;
	font-size: 28px;
	line-height: 50px;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(to top, #3900ad, #a300ee);
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-khtml-border-radius: 16px;
	border-radius: 16px;
	behavior: url('images/border-radius.htc');
	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	}
.modal_sub:hover{
	color: #000;
	background: linear-gradient(to top, #ffab00, #ffd319);
	}

.pozvonit{
	padding: 30px 0 0 0;
	text-align: center;
	}
.pozvonit span{
	display: block;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	color: #000000;
	font-size: 36px;
	padding: 0 0 30px 0;
	text-transform: uppercase;
	}



.pozvonit a{
	display:block;
	margin: 0 auto;
	width: 280px;
	height: 50px;
	color: #ffffff;
	font-size: 28px;
	line-height: 50px;
	font-family: 'Museo Sans Cyrl 900', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	background: linear-gradient(to top, #ff0100, #ff6f29);
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-khtml-border-radius: 16px;
	border-radius: 16px;
	behavior: url('images/border-radius.htc');
	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
	}
.pozvonit a:hover{
	color: #fff;
	background: linear-gradient(to top, #ffab00, #ffd319);
	background: linear-gradient(to top, #ff6f29, #ff0100);
	}



.modal_win_p_zag{
	background: url('images/modal_win_p_zag.jpg') no-repeat;
	background-size: 400px auto;
	height: 140px;
	font-family: 'Museo Sans Cyrl 700', sans-serif;
	color: #000000;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0 0 70px;
	}


/* поля новой модалки */
.modal_pole_txt{
	max-width: 80%;
	margin: 0 auto 20px auto;
	}

.modal_win_txt{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 90%;
	padding: 0 0 20px 0;
	background: #fff url('images/header.jpg') repeat-x bottom;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
	text-align: left;
	}



	
.banner_top_r_top_text {
    font-size: 22px !important;
    color: #fff;
}
.baner_top_r {
    color: #fff;
}

.grey {
    margin: 0 0 30px 0;
	padding: 15px 0 0 0;
}

.grey_bottom {
    height: 800px;
}

.text_one_r {
    padding: 0 0 30px 0;
}

.voprosu_zag{
	margin: 0 0 25px 0;
	}
.text_one_tabl {
    margin: 0 0 20px 0;
}
