
.working-now {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.working-now svg {
  margin-right: 10px;
}

.logo_t {
  color: #fff !important;
}

.contacts {
  color: #fff !important;
}

.h1 {
  color: #24b400 !important;
  font-size: 30px !important;
  text-transform: none !important;
}

.h1 span {
  color: #fff !important;
  font-size: 40px !important;
  text-transform: uppercase !important;
}

.badges {
  display: flex;
  align-items: center;
  margin: 0px -15px;
  max-width: 420px;
  flex-wrap: wrap;
}

.badges-item {
  margin: 40px 15px;
  padding: 8px;
  border-radius: 8px;
  border: 1px dashed #fff;
  width: 175px;
  height: 130px;
}

.left .badges-wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  /* justify-content: center; */
}

.badges .left .title {
  font-family: Muller;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 30px;
}

.badges .left .desc {
  font-family: Muller;
  font-weight: bold;
  color: #000;
  font-size: 15px;
  line-height: 12px;
}

.badges .left .desc span {
  color: #ff0000;
}

.right .badges-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 20px;
}

.badges .right .title {
  font-family: Muller;
  font-weight: bold;
  color: #00aeef;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 30px;
}

.badges .right .desc {
  font-family: Muller;
  font-weight: 400;
  color: #fff;
  font-size: 15px;
  line-height: 12px;
}

.badges-sale {
  width: 100%;
  text-align: center;
  font-family: Muller;
  font-weight: bold;
  color: #fff;
  text-shadow: #016900 0 0 50px;
  font-size: 22px;
}

.badges-sale span {
  color: #00aeef;
}

.sub p {
  text-align: left !important;
  color: #fff !important;
  font-weight: 200 !important;
}

.sub {
  color: #fff !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  max-width: 500px;
  margin-left: 0px !important;
}

.sub strong {
  text-align: left !important;
  color: #fff !important;
  display: inline !important;
}

.sub .btn_wrapper {
  display: inline-block !important;
  margin: 0px auto !important;
  margin-top: 20px !important;
  padding-left: 40px !important;
}

.sub .btn_wrapper * {
}

#s01 .btn {
  padding-left: 40px !important;
}

#s01 .btn:after {
  background: url(../img/calc.png) no-repeat 50% 50% !important;
  width: 120px !important;
  height: 100px !important;
  left: -60px !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
}

#nav {
  height: 140px;
}

#s01 {
  background-size: cover;
  padding-bottom: 250px !important;
  position: relative;
}

.bg-1 {
  position: absolute;
  bottom: -30px;
  left: calc(50% + 150px);
  transform: translate(-50%, 0);
}

.bg-2 {
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translate(0, -50%);
}

.light_theme #main {
    background: url(../img/bg-2.png) repeat-y 50% 50% ;
    background-size: cover !important;
}

.light_theme #main {
}

.light_theme #main:before {
    display: none;
}

.form_control .img {
  background: #008dd2;
}

.quiz-wrapper {
  position: relative;
  top: -150px;
  max-width: 1120px;
  margin: 0px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}


.quiz-wrapper  .header {
  width: 100% !important;
  border-style: dotted !important;
  border-bottom-style: none !important;
}

.quiz-wrapper .quiz {
  width: 100% !important;
}

.wrap {
  padding-bottom: 0px !important;
}

.change_block {
  border-style: dotted !important;
  border-top: none !important;
}


#main .col_right {
    width: 280px;
}

#main .col_right .present_block p {
  color: #000 !important;
  font-size: 14px !important;
  top: 15px !important;
  padding: 0px 10px !important;
}

#main .col_right .present_block p strong {
  color: #000 !important;
  font-size: 14px !important;
}

.light_theme #main .progressBar .bar {
    background: #24b300 !important;
}

#main .change_block .question .img:before {
  display: none !important;
}

#main .change_block .question .img {
  /* margin-top: -35px !important; */
}


.main-sprite-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.main-sprite-2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  opacity: .3;
  pointer-events: none;
}

.header {
  z-index: 9 !important;
}


#main .change_block.nextInQueue {
  width: 100% !important;
  border-top: none !important;
}

.header {
  border-bottom: none !important;
}

#main .change_block.nextInQueue {
  left: 0px !important;

}


.present-result-image {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

#main .buttons {
  justify-content: flex-start !important;
}

#main .buttons.phoneImg {
  margin-top: 240px !important;
}

.light_theme #main .phoneImg:before {
  background: url(../img/phone.png) no-repeat 50% 50%/contain !important;

}

.top_phone {
  border-style: solid !important;
  border-color: #24b400 !important;
  border-width: 1px !important;
}

#main .wrap {
  overflow: visible !important;
  overflow-y: hidden !important;
}

.primernaya span {
  color: #02a3de !important;
}

#main .buttons.phoneImg {
  justify-content: center !important;
}

/* .price_block {
  background: #00bbff !important;
} */

.primernaya_stoimost strong {
  color: #0f5f9e;
}


#point {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #02a3de;
  margin-right: 5px;
  display: block;
}

.final_table svg {
  margin-right: 5px;
}

.final_table .td {
  font-size: 13px !important;
  display: flex !important;
  align-items: center !important;
}

.final_table .td:first-of-type {
    width: 235px;
}

.final_table .td:nth-of-type(2) {
    width: 147px;
    margin-left: auto;
}

.howCalc {
  margin: 20px 0px;
  color: #00bbff;
  text-decoration: underline;
  text-align: center;
}

.sales {
  margin: 20px 0px;
  color: #ff002a;
  text-align: center;
  font-weight: bold;
}