@font-face {
font-family: "SFProDisplay-Black";
src: url("../assets/SFProDisplay-Black.ttf"); 
}

@font-face {
font-family: "SFProDisplay-Medium";
src: url("../assets/SFProDisplay-Medium.ttf"); 
}

@font-face {
font-family: "SFProDisplay-Thin";
src: url("../assets/SFProDisplay-Thin.ttf"); 
}


.video {
	width: 100%;
	padding: 20px;
	position: absolute;
	top:0px;
}

header {
	margin: 0;
}

.bg {
	background:#414242;
	width: 100%;
	margin-top: -10px;
	padding: 110px 0px;
}

.video-video {
	position: relative;
	width: 100%;
	margin: 0;
}

.social-links {
	display: flex;
	align-items: center;
}

.social-link-item img {
	margin:0px 10px;
}

.vk {
	width: 53px;
}

.inst {
	width: 40px;
}

.row-tab {
	justify-content: space-between;
	align-items: flex-start;
}

.head-caption {
	white-space: pre;
	line-height: 25px;
	font-family: 'SFProDisplay-Medium';
	letter-spacing: 2px;
}

.head-text {
	text-align: center;
	color:#fff;
	font-size: 22px;
	margin: 20px 0px;
	font-family: 'SFProDisplay-Medium'
}

.head-text-2 {
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'SFProDisplay-Medium'
}

.head-sec-2 {
	display: flex;
	align-items: flex-start;
	line-height: 60px;
	justify-content: space-between;
	margin: 15px 0px 0px 0px;
}

.table-v {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border:none;
	flex-wrap: wrap;
}

.head {
	display: flex;
}

.table-v-item {
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-size: 22px;
	margin: 0px 1px 20px 0px;
	cursor: pointer;
	transition-duration: .2s;
	font-family: 'SFProDisplay-Thin'
}

.table-v-item:hover {
	color:#656565;
	transition-duration: .2s;
}

.head-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3.5px;
}

.color-table {
	margin: 23px 0px;
}

.head-list-oplata {
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	font-family: 'SFProDisplay-Medium';
	margin: 1px 0px;
}

.head-list-oplata-2 {
	white-space: pre;
}

.jusflex {
	margin-top: 20px;
	justify-content: space-between;
}

.jusflex div {
	margin: 0;
}

.head-list-text {
	color:#fff;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'SFProDisplay-Medium';
}

.head-list-text-2 {
	color:#fff;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'SFProDisplay-Medium';
}

.head-list-text-2-extra {
	font-family: 'SFProDisplay-Medium';
}

.mm {
	color:#47AFE6;
}

.head-list-table {
	background:#f0f0f0;
	padding: 15px 20px 15px 20px;
	border-radius: 10px;
	margin: 20px auto 0px auto;
  	position: absolute;
  	left: 0; right: 0;
  	z-index: 55;
}

.table-text-black {
	color:#000;
	font-weight: bold;
	margin: 0;
	font-family: 'SFProDisplay-Medium'
}

.head-list-text-hover:hover {
	color:#656565;
	transition-duration: .2s;
}

.table-price {
	font-size:18px;
	margin: 0;
	margin-left: auto;
	font-family: 'SFProDisplay-thin'
}

.table-price-x {
	font-family: 'SFProDisplay-thin';
	margin: 0px 3px;
}

.item {
	display: flex;
	align-items: center;
	margin: 5px 0px;
}

.item img {
	width: 13px;
	height: 13px;
	margin-left: 10px;
}

.input-price {
	border-radius:5px;
	border:1px solid #ccc;
	width: 40px;
	margin: 0px 3px;
	padding: 1px;
	outline:none;
	text-align: center;
}

.head-list-table::before {
    content: ''; 
    position: absolute;
    left: calc(50% - 20px);
    top:-35px;
    border: 20px solid transparent;
    border-bottom: 15px solid #f0f0f0;
}

.btn {
	width: 100%;
	margin-top: 20px;
	outline: none !important;
}

.btn:focus {
	outline: none !important;
}

.fade-enter-active {
  transition-duration: 1s;
}

.fade-leave-active {
  transition-duration: 0s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.radioNone {
	display: none
}

input:checked+span {
  text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

.modale {
	background:#f0f0f0;
	padding: 15px 20px 15px 20px;
	border-radius: 10px;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 380px;
    z-index: 9999;
}

#zatemnenie {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: fixed;
    z-index: 999;
}
#zatemnenie:target {
	display: block;
}

.modale img {
	width: 15px;
	margin-left: auto;
	display: block;
}

.form-group label {
	font-family: 'SFProDisplay-Black'
}

.btn {
	font-family: 'SFProDisplay-Medium'
}

#section-1 {
	background:#e5e5e5;
	width: 100%;
}

.sec-1 {
	padding: 40px 0px;
}

.text h1 {
	color:#141214;
	margin-left: 30px;
	text-transform:uppercase;
	font-family: 'SFProDisplay-Medium';
	margin-bottom: 20px;
	font-size:30px;
}

.text p {
	margin: 0px;
	font-size:24px;
	font-family: 'SFProDisplay-Thin';
	font-weight: bold;
}

.rozetka {
	position: absolute;
	margin: 0 auto;
	left:60%;
	width: 350px;
	pointer-events: none;
}

#section-2 {
	background:url(../assets/tyu.png) 50% no-repeat;
}

.sec-2 {
	padding: 110px 30px 150px 80px;
	color:#fff;
	text-transform: uppercase;
}

.text-sec-2 {
	font-size:30px;
	font-family: 'SFProDisplay-thin';
}

.text-sec-2-small {
	font-size:22px;
	font-family: 'SFProDisplay-thin'
}

.text-sec-2 p {
	margin: 0;
}

.text-sec-3 p {
	padding: 40px 0px;
	font-size:40px;
	font-family: 'SFProDisplay-thin';
	margin: 0;
	display: flex;
	justify-content: flex-end;
	margin-right: 100px;
}

#section-3 {
    position: relative;
}
#section-3:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background:url(../assets/source1.png) 40% no-repeat;
    width: 100%;
    height: 100%;
    opacity : 1;
    z-index: -1;
    background-size: cover
}

#section-4 {
	background:url(../assets/1234.png) no-repeat;
	padding-top: 200px;
	padding-bottom: 20px;
	background-position: center, top;
}

.text-sec-4 {
	width: 100%;
	margin: 0px;
	text-align: center;
	font-size:60px;
	color:#fff;
	font-family: 'SFProDisplay-thin'
}

.copyright {
	color:#fff;
	font-size:24px;
	text-align: center;
	display: block;
	width: 100%;
	margin: 0;
	margin-top: 50px;
	padding-top: 10px;
	border-top:2px solid #ccc;
	font-family: 'SFProDisplay-Medium'
}

.copyright-small {
	display: block;
	color:#fff;
	font-size:22px;
	text-align: center;
	width: 100%;
	margin: 0;
	font-family: 'SFProDisplay-thin'
}

.owl-carousel {
	margin-top: 450px;
}

.owl-carousel .item img {
	height: 200px;
}

.socials {
	align-items: center;
	justify-content: flex-end;
	margin-right: 60px;
}

.social-images {
	margin-left: 40px;
	align-items: center;
}
.socials p {
	font-family: 'SFProDisplay-Thin';
	color:#fff;
	margin: 0;
	font-size:20px;
}

.social-images img {
	margin: 0px 4px;
}

.vk-copy img {
	width: 30px;
}

.inst-copy img {
	width: 25px;
}

@media screen and (max-width: 1750px) {
	.text-sec-3 p {
		padding: 30px 10px;
		font-size:40px;
		margin: 0;
	}
	#section-3:after {
		opacity : 0.6;
	}
}

@media screen and (max-width: 1010px) {
	.row-tab {
		flex-wrap: wrap;
	}
	.head-list {
		justify-content: flex-start;
	}
	.ml {
		margin-left: 20px;
	}
	.rozetka {
		left:450px;
		width: 300px;
	}
}

@media screen and (max-width: 1200px) {
	.text-sec-3 p {
		
	}
}
.cap-2 {
	display: none;
}

@media screen and (max-width: 590px) {
	.container {
		padding-left:30px;
		padding-right:30px;
	}
	.cap-2 {
		display: block;
	}
	.cap-1 {
		opacity: 0;
	}
	.head p {
		font-size:18px;
	}
}

@media screen and (max-width: 768px) {
	.text-sec-3 p {
		font-size:30px;
		font-family: 'SFProDisplay-Thin';
	}
	.rozetka {
		left: 10%;
		width: 300px;
	}
	.sec-2 {
		padding: 40px 20px;
		color:#fff;
		text-transform: uppercase;
	}
	.socials {
		margin-left: 0px;
		margin-right: 0px;
		justify-content: center;
	}
}

@media screen and (max-width: 400px) {
	.head p {
		font-size:14px;
	}
	.sec-2 {
		padding: 40px 30px;
		color:#fff;
		text-transform: uppercase;
	}
	.text-sec-4 {
		font-size:40px;
	}
	.rozetka {
		left: 10%;
		width: 250px;
	}
}

@media screen and (max-width: 500px) {
	.sec-2 {
		padding: 10px 20px;
		color:#fff;
		text-transform: uppercase;
	}
	#section-2 {
		background-size:cover;
	}
}
