body {
	box-sizing: border-box;
	overflow-x: hidden;
}

.body {
  overflow: hidden;
}

.time { 
	padding: 90px 0;
	background: #181818;
	position: relative;

}

.schedule_ellipse_1 {
	position: absolute;
	background: url('../img/ellipse-1.png');
	top:0;
	left:-80px;
	width: 261px;
	height: 320px;
}

.schedule_ellipse_2 {
	position: absolute;
	background: url('../img/ellipse-2.png');
	top:150px;
	left:150px;
	width: 1577px;
	height: 582px;
}

.schedule_ellipse_3 {
	position: absolute;
	background: url('../img/ellipse-3.png');
	top:800px;
	left:-50px;
	width: 267px;
	height: 267px;
	z-index: 1;
}

.schedule_ellipse_4 {
	position: absolute;
	background: url('../img/ellipse-4.png');
	top:850px;
	left:-150px;
	width: 228px;
	height: 342px;
}

.schedule_ellipse_5 {
	position: absolute;
	background: url('../img/ellipse-3.png');
	top:200px;
	right:0px;
	width: 267px;
	height: 267px;
}

.schedule_ellipse_6 {
	position: absolute;
	background: url('../img/ellipse-6.png');
	top:250px;
	right:0px;
	width: 171px;
	height: 342px;
	z-index: 1;
}

.schedule_ellipse_7 {
	position: absolute;
	background: url('../img/ellipse-7.png');
	top:170px;
	right:80px;
	width: 27px;
	height: 201px;
}

.schedule_ellipse_8 {
	position: absolute;
	background: url('../img/ellipse-8.png');
	top:900px;
	right:0px;
	width: 245px;
	height: 568px;
	z-index: 999;
}

.schedule__items {
	flex-flow: row wrap;
	margin-top: 0px;
}

.schedule__caption {
	color:#fff;
	font-size: 24px;
	font-family: 'Lato' , sans-serif;
	text-transform: uppercase;
	border-left:5px solid #ffec16;
	padding-left: 20px;
	margin-left: 75px;
}

.schedule__item__caption {
	color:#fff;
	font-family: 'Lato' , sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	margin-top: -30px;
}

.schedule__item__text {
	color:#fff;
	text-align: center;
	font-family: 'Roboto' , sans-serif;
	margin-top: 25px;
}

.date {
	background: #fbbf00;
	flex: 0 0 auto;
	width: 56px;
	height: 56px;
	padding-top: 10px;
	position: relative !important;
	top:56px;
	right:0px;
	z-index: 1;
}

.date__number {
	font-size: 32.67px;
	font-family: 'Roboto' , sans-serif;
	font-weight: 900;
	color:#0d0d0d;
	margin: 0;
	text-align: center;
	line-height: 25px;
}

.date__month {
	font-family: 'Roboto' , sans-serif;
	font-size: 12.44px;
	color:#0d0d0d;
	margin: 0;
	text-align: center;
}

.schedule__price {
	white-space: nowrap;
	display: flex;
	justify-content: center;
	line-height: 20px;
}

.schedule__price__wrong {
	font-family: 'Roboto' , sans-serif;
	font-size: 18px;
	color:#454545;
	text-decoration: line-through;
	margin: 0;
	margin-top:2px;
}

.schedule__price__true {
	font-size: 24px;
	font-family: 'Roboto' , sans-serif;
	font-weight: 700;
	color:#ffec16;
	margin: 0;
	margin-left: 10px;
}

.schedule__button {
	border:1px solid #a0a0a0;
	background: #0d0d0d;
	color:#a0a0a0;
	outline: none;
	padding: 15px 0;
	font-family: 'Roboto' , sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 30px;
	transition-duration: .5s;
}

.schedule__button:hover {
	border:1px solid #0d0d0d;
	background: #a0a0a0;
	color:#0d0d0d;
	transition-duration: .5s;
}

.schedule__button:focus {
	outline: none;
}

@media screen and (max-width: 1680px) {
	.schedule_ellipse_1 {
	left:-180px;
}

.schedule_ellipse_2 {
	top:150px;
	left:50px;
}

.schedule_ellipse_3 {
	left:-150px;
}

.schedule_ellipse_4 {
	left:-250px;
}

.schedule_ellipse_5 {
	right:-100px;
}

.schedule_ellipse_6 {
	right:-100px;
}

.schedule_ellipse_7 {
	right:-20px;
}

.schedule_ellipse_8 {
	right:-100px;
}
}

@media screen and (max-width: 1300px) {
	.disEllipse {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.schedule__price {
	display: block;
	text-align:center;	
	}
	.schedule__price__true {
	margin-left: 0px;
	margin-top: 5px;
	}
}

@media screen and (max-width: 568px) {
	.schedule__price {
	display: flex;	
	}
	.schedule__price__true {
	margin-left: 10px;
	}

	.schedule__price__wrong {
	margin-top: 2px;
	margin-top: 7px;
	}
}