body {
	box-sizing: border-box;
	overflow-x: hidden;
}

.body {
  overflow-x: hidden;
}

.your_results , .course-programm , .special-skills , .intensive-lead  {
	padding: 90px 0;
	position: relative;
}

.your_results {
	background: url('../img/your_results_bg.png') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.your_results__caption {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.your_results__caption__p {
	font-size: 3rem;
	color:#fff;
	text-transform: uppercase;
	font-family: 'Roboto' , sans-serif;
	font-weight: 300;
	width: 100%;
	text-align: center;
	margin: 0;
}

.caption-highlight {
	color:#ffec16;
	font-family: 'Roboto' , sans-serif;
	font-weight: 700;
}

.your_results__items {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;
}

.your_results__item {
	flex-flow: row wrap;
	justify-content: space-between;
}

.your_results__item__example {
	margin-top: 30px;
	align-items: center;
}

.your_results__item__example img {
	margin-right: 30px;
}

.your_results__item__example p {
	color:#fff;
	font-family: 'Roboto' , sans-serif;
	margin: 0;
	display: flex;
	align-items: center;
}

.your_results__item__border {
	border:1px solid #ffec16;
	margin-top: 30px;
	padding: 0px;
}

.your_results__item__border img {
	width: 100%;
	position: relative;
	top:-30px;
	left:-30px;
}

.course-programm {
	background: url('../img/main-bg.png');
	margin: 0;
}

.universal__line {
	width: 120px;
	height: 1px;
	border:1px solid #fff100;
	margin: 35px 0;
}

.your_results__caption__text {
	color:#fff;
	font-family: "Roboto" , sans-serif;
	font-weight: 700;
	margin: 0;
}

.course-programm__days {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.course-programm__days__item-bg-1 {
	margin-top: 50px;
}

.course-programm__days__item-bg-2 {
	margin-top: 50px;
}

.course-programm__days__item-bg-3 {
	margin-top: 50px;
}

.course-programm__days__item-bg-4 {
	margin-top: 50px;
}

.course-programm__days__item__caption {
	font-size: 1.5rem;
	font-family: 'Lato' , sans-serif;
	color:#fff;
	text-transform: uppercase;
	padding-top: 50px;
}

.course-programm__days__item__caption-bg-1 {
	background: url('../img/course-programm__days__item-bg-1.png') no-repeat left top;
}

.course-programm__days__item__caption-bg-2 {
	background: url('../img/course-programm__days__item-bg-2.png') no-repeat left top;
}

.course-programm__days__item__caption-bg-3 {
	background: url('../img/course-programm__days__item-bg-3.png') no-repeat left top;
}

.course-programm__days__item__caption-bg-4 {
	background: url('../img/course-programm__days__item-bg-4.png') no-repeat left top;
}

.currently-day {
	border-left:4px solid #ffec16;
	padding-left: 15px;
}

.course-programm__days__item ul {
	padding: 0;
	margin-top: 20px;
}

.course-programm__days__item__li span {
	color:#fff;
	font-family: 'Roboto' , sans-serif;
}

.course-programm__days__item__li {
	color:#ffec16;
	margin-left: 17px;
	margin-top: 10px;
}

.special-skills {
	background: url('../img/special-skills-bg.png') no-repeat;
	background-size: cover;
}

.special-skills__items {
	display: flex;
	justify-content: space-between;
	flex-flow:row wrap;
	margin-top: 100px;
}

.special-skills__item {
	margin-top: 50px;
}

.special-skills__item__caption {
	align-items: center;
}

.special-skills__item__caption p {
	margin: 0;
	margin-left: 25px;
	color:#fff;
	font-size:1.5rem;
	font-family: 'Lato' , sans-serif;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.special-skills__item__p {
	color:#fff;
	font-family: 'Roboto' , sans-serif;
	line-height: 28px;
	margin-top: 30px;
}

.righttrack__btn {
	margin-top: 45px;
	padding: 20px 40px;
	outline: none;
	background: #fbbf00;
	color:#000;
	border:none;
	font-family: 'Roboto' , sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1rem;
}

.righttrack__btn:focus {
	outline: none;
}

.button-div {
	text-align:center;
}

.intensive-lead__common {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin-top: 50px;
	align-items: center;
}

.intensive-lead {
	background: url('../img/main-bg.png');
}

.intensive-lead__main__name {
	color:#fff;
	font-size: 1.5rem;
	font-family: 'Lato' , sans-serif;
	text-transform: uppercase;
	padding-top: 45px;
	background: url('../img/Bakeev.png') no-repeat left top;
}

.intensive-lead-border {
	border-left:4px solid #ffec16;
	padding-left: 15px;
}

.intensive-lead__main ul {
	padding-left: 17px;
}

.intensive-lead__main ul li {
	color:#ffec16;
	font-family: 'Roboto' , sans-serif;
	font-weight: 700;
	margin-top: 10px;
}

.intensive-lead__main__name__highlight {
	color:#fff;
	font-family: 'Roboto' , sans-serif;
	font-weight: 400; 
}

.intensive-lead__main__text {
	color:#fff;
	font-family: 'Roboto' , sans-serif;
	margin-top: 30px;
}

.facebook-highlight {
	color:#ffec16;
	font-family: 'Roboto' , sans-serif;
	font-weight: 700;
}



.your_results_ellipse_1:before {
	content: '';
	background: url('../img/svg-dots.png');
	position: absolute;
	top:-100px;
	left:0;
	width:155px;
	height:286px;
	z-index: 99;
}

.your_results_ellipse_2:before {
	content: '';
	background: url('../img/svg-lines.png');
	position: absolute;
	top:200px;
	left:50px;
	width:336px;
	height:114px;
	z-index: 99;
}

.your_results_ellipse_3:before {
	content: '';
	background: url('../img/svg-layer.png');
	position: absolute;
	top:200px;
	left:100px;
	width:1641px;
	height:302px;
	z-index: 999;
}

.your_results_ellipse_4:before {
	content: '';
	background: url('../img/svg-small-dots.png');
	position: absolute;
	top:700px;
	left:50px;
	width:115px;
	height:89px;
	z-index: 99;
}

.your_results_ellipse_5:before {
	content: '';
	background: url('../img/svg-circle.png');
	position: absolute;
	top:670px;
	left:0px;
	width:295px;
	height:392px;
	z-index: 99;
}

.your_results_ellipse_6:before {
	content: '';
	background: url('../img/svg-mixcircle.png');
	position: absolute;
	top:-250px;
	right:0px;
	width:233px;
	height:569px;
	z-index: 99;
}

.course-programm_ellipse_1:before {
	content: '';
	background: url('../img/course-layer.png');
	position: absolute;
	top:200px;
	left:100px;
	width:1641px;
	height:302px;
	z-index: 99;
}

.course-programm_ellipse_2:before {
	content: '';
	background: url('../img/course-oval.png');
	position: absolute;
	top:400px;
	left:0px;
	width:86px;
	height:569px;
	z-index: 99;
}

.course-programm_ellipse_3:before {
	content: '';
	background: url('../img/svg-small-dots.png');
	position: absolute;
	top:200px;
	right:-30px;
	width:115px;
	height:89px;
	z-index: 99;
}

.course-programm_ellipse_4:before {
	content: '';
	background: url('../img/course-dots.png');
	position: absolute;
	top:400px;
	right:0;
	width:155px;
	height:286px;
	z-index: 99;
}

.course-programm_ellipse_5:before {
	content: '';
	background: url('../img/course-circle.png');
	position: absolute;
	top:700px;
	right:100px;
	width:152px;
	height:153px;
	z-index: 99;
}

.skills_ellipse_1::before {
	content: '';
	background: url('../img/skills-mixcircle.png');
	position: absolute;
	top:-100px;
	left:0px;
	width:247px;
	height:568px;
	z-index: 99;
}

.skills_ellipse_2::before {
	content: '';
	background: url('../img/svg-small-dots.png');
	position: absolute;
	top:1000px;
	left:100px;
	width:115px;
	height:89px;
	z-index: 99;
}

.skills_ellipse_3:before {
	content: '';
	background: url('../img/svg-dots.png');
	position: absolute;
	top:1500px;
	left:0;
	width:155px;
	height:286px;
	z-index: 99;
}

.skills_ellipse_4:before {
	content: '';
	background: url('../img/svg-circle.png');
	position: absolute;
	top:1550px;
	left:-60px;
	width:295px;
	height:392px;
	z-index: 99;
}

.skills_ellipse_5:before {
	content: '';
	background: url('../img/svg-layer.png');
	position: absolute;
	top:200px;
	left:100px;
	width:1641px;
	height:302px;
	z-index: 999;
}

.skills_ellipse_6:before {
	content: '';
	background: url('../img/skills-mix.png');
	position: absolute;
	top:250px;
	right:0px;
	width:380px;
	height:442px;
	z-index: 99;
}

.skills_ellipse_7:before {
	content: '';
	background: url('../img/svg-small-dots.png');
	position: absolute;
	top:1200px;
	right:100px;
	width:115px;
	height:89px;
	z-index: 99;
}

.skills_ellipse_8:before {
	content: '';
	background: url('../img/svg-mixcircle.png');
	position: absolute;
	top:1700px;
	right:0px;
	width:233px;
	height:569px;
	z-index: 99;
}

.lead_ellipse_1:before {
	content: '';
	background: url('../img/course-layer.png');
	position: absolute;
	top:200px;
	left:100px;
	width:1641px;
	height:302px;
	z-index: 99;
}

.lead_ellipse_2:before {
	content: '';
	background: url('../img/svg-small-dots.png');
	position: absolute;
	top:500px;
	left:80px;
	width:115px;
	height:89px;
	z-index: 99;
}

.lead_ellipse_3:before {
	content: '';
	background: url('../img/svg-small-dots.png');
	position: absolute;
	top:150px;
	right:80px;
	width:115px;
	height:89px;
	z-index: 99;
}

.lead_ellipse_4:before {
	content: '';
	background: url('../img/course-circle.png');
	position: absolute;
	top:900px;
	left:-70px;
	width:152px;
	height:153px;
	z-index: 99;
}


.lead_ellipse_5:before {
	content: '';
	background: url('../img/course-dots.png');
	position: absolute;
	top:700px;
	right:0;
	width:155px;
	height:286px;
	z-index: 99;
}

@media screen and (max-width: 1600px) {
	.your_results_ellipse_1:before {
	left:-100px;
}

.your_results_ellipse_2:before {
	left:-50px;
}

.your_results_ellipse_3:before {
	left:0px;
}

.your_results_ellipse_4:before {
	left:-50px;
}

.your_results_ellipse_5:before {
	left:-100px;
}

.your_results_ellipse_6:before {
	right:-100px;
}

.course-programm_ellipse_1:before {
	left:0px;
}

.course-programm_ellipse_2:before {
	left:-100px;
}

.course-programm_ellipse_3:before {
	right:-130px;
}

.course-programm_ellipse_4:before {
	right:-100px;
}

.course-programm_ellipse_5:before {
	right:0px;
}

.skills_ellipse_1::before {
	left:-100px;
}

.skills_ellipse_2::before {
	left:0px;
}

.skills_ellipse_3:before {
	left:-100px;
}

.skills_ellipse_4:before {
	left:-160px;
}

.skills_ellipse_5:before {
	left:0px;
}

.skills_ellipse_6:before {
	right:-200px;
}

.skills_ellipse_7:before {
	right:-100px;
}

.skills_ellipse_8:before {
	right:-200px;
}

.lead_ellipse_1:before {
	left:0px;
}

.lead_ellipse_2:before {
	left:-20px;
}

.lead_ellipse_3:before {
	right:-20px;
}

.lead_ellipse_4:before {
	left:-170px;
}


.lead_ellipse_5:before {
	right:-100px;
}
}

@media screen and (max-width: 1300px) {
	.disEllipse {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.your_results , .course-programm , .special-skills , .intensive-lead  {
	padding: 30px 0;
	}
	.your_results__items {
		justify-content: center;
	}
	.your_results__items {
		margin-top: 0px;
	}
	.your_results__item__border {
		margin-top: 70px;
	}
	.course-programm__days__item {
		margin-top: 20px;
	}
	.special-skills__items {
		margin-top: 20px;
	}
	.special-skills__item {
		margin-top: 10px;
	}
}

@media screen and (max-width: 768px) {
	.your_results__caption__p {
		font-size: 2.5rem;
	}
	.intensive-lead__common {
		justify-content: center;
	}
}

@media screen and (max-width: 576px) {
	.your_results__caption__p {
		font-size: 2rem;
	}
	.universal__line {
	margin: 15px 0;
	}
}

@media screen and (max-width: 430px) {
	.your_results__caption__p {
		font-size: 1.5rem;
	}
	.intensive-lead__main__name {
		padding-top: 30px;
	}
	.special-skills__item__caption p {
	margin-left: 10px;
	font-size:1.2rem;
}
}